<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Construction Defect Lawyer San Francisco | Unpermitted Addition | Not Up To Code</title>
 
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">San Francisco Construction Defect Lawyer</h1>


        <%- include('../partials/real-estate-card'); %>

        

							
								

<div class="docText">



                        
    <p>Construction defects and other property development disputes can cause project delays resulting in lost time and money. At Bravo Law Offices, in San Francisco, our attorneys have been representing individuals, contractors and developers throughout California's Bay Area during construction disputes for more than 30 years. While our approach varies based on your specific case, our goal is always the same: to protect your interests and resolve your case as efficiently as possible.</p>
    <h2>Experienced Litigators Protecting Your Interests</h2>
    <p>Faulty work and poor craftsmanship, failure to comply with project 
      specifications and other alleged construction defects are often the cause of legal action. Other common reasons for 
        <a href="/real-estate-default">real estate disputes</a> include:
    </p>
    <ul class="medicalList"><li>Breach of contract</li><li>Breach of warranty</li><li>Work that is not up to code</li><li>Unpermitted addition</li><li>Issues involving unlicensed work or workers</li><li>Engineering defects</li><li>Architectural defects</li><li>Property damage caused by construction</li></ul>
    <p class="callOut">If you are involved in a dispute involving construction, it is important to consult with experienced attorneys who know how to safeguard your interests.</p>
    <p>At Bravo Law Offices, we are not afraid to fight. Our lawyers are highly skilled litigators with an established record of success at court. We know how the local courts systems work and how to position your legal claim to give you the best chance at victory.</p>
    <h2>Bravo Law Offices: Committed To Your Case</h2>
    <p>Clients turn to Bravo Law Offices for our experience, our skills and our commitment. We are always available to discuss your case and answer your questions. Our lawyers will keep you appraised on the status of your case and advise you during every stage of your legal claim.</p>
    <p>For more information about our firm and your legal situation, call us at 415-512-6700 or 
        <!-- <a href="/contact-us">complete our online intake form</a>. Initial consultations. -->
    </p>			
								
								

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>