




<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
 
  <title>Bravo Law Offices | San Francisco Attorney | Bay Area Lawyer, Alameda</title>
</head>
<body>
    
  <%- include('./partials/header'); %>

<div class="container">
     
            <div class="callOut">

       
                <%- include('./partials/joe-bravo'); %>
           
            
        </div>



<!-- Others -->

<%- include('./partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('./partials/footerLink'); %>
  <!-- Footer & Links -->

</div>
  



    
    
</body>
</html>