<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 
  <title>Medical Malpractice Lawyer San Francisco | Hospital Negligence | Surgical Error</title>
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">San Francisco Medical Malpractice Lawyer</h1>


        <%- include('../partials/persona-injury-card'); %>

        

							
								

<div class="docText">



                        
    <p>Doctors are supposed to heal, not hurt. If a doctor, nurse or other health care professional's negligence, recklessness or poor judgment left you injured, you have a right to compensation. At Bravo Law Offices, we will help you protect that right.</p>
    <p>Located in San Francisco, our lawyers fight for the rights of injury victims throughout California's Bay Area. We are not afraid to stand up to doctors and hospitals to get you the compensation you deserve.</p>
    <h2>Missed Diagnosis: The Difference Between Life And Death</h2>
    <p>At Bravo Law Offices, we know that the earlier a serious illness is detected and treated the better the prognosis. But if your doctor unreasonably failed to diagnose an illness or condition or failed to properly perform a medical procedure, you may have a medical malpractice claim. The effects of medical malpractice can be devastating.</p>
    <p class="callOut">Our firm will help you obtain the compensation you are entitled to under the law for negligent medical care.</p>
    <p>When pursuing compensation, we want to know how your missed diagnosis, or other injury, will impact your life. We then pursue compensation for your current and future medical expenses, lost wages, reduced earning capacity, and future pain and suffering.</p>
    <p>Common types of medical malpractice include:</p>
    <ul class="medicalList">
        <li>Misdiagnosis or improper treatment</li>
        <li>Surgical errors</li>
        <li>Failure to treat in accordance with the standard of care</li>
        <li>Failure to obtain consent</li>
        <li>Hospital negligence</li>
    </ul>
    <h2>Feel Confident In Your Choice Of Attorney</h2>
    <p>At Bravo Law Offices, we have been 
        <a href="/">representing injury victims</a> for more than 30 years. We know litigation is new to our clients. We take the time to educate you thoroughly about the process so you understand your claim and how it is being processed every step of the way. Our attorneys will explain the law, the facts of your case and the legal strategies we pursue for you. When you come to our firm, you will feel confident you made the right choice.
    </p>
    <p>For more information about our services call 415-512-6700
       
    </p>			

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>