<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 
  <title>Personal Injury Lawyer San Francisco | Injury Attorney | Accident Injury Alameda</title>
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
      <h1 class="page-title">San Francisco Personal Injury Lawyer</h1>
      
      <%- include('../partials/persona-injury-card'); %>
   
							
								

<div class="docText">



                        
                    <p>At Bravo Law Offices, we give honest, straightforward legal advice to people who have suffered serious injuries. Our lawyers have been practicing in personal injury for over 30 years. We know if you have a legal claim and will fight to maximize your compensation.</p>
<p>Located in San Francisco, California, our firm fights for the rights of injury victims throughout the Bay Area. We will fight for you.</p>
<h2>Maximize Your Compensation After An Accident</h2>
<p>At Bravo Law Offices, we pursue compensation that not only covers today's pain and suffering, but the pain, suffering, lost wages and medical expenses your injury may cause later in life.</p>
<p>Prompt medical attention after any accident is critical to the success of every personal injury case. If you cannot medical examination or care, we will work with you to help you get the examinations or care you need to prove your claim. But we want to see you get better as well. Your care and recovery is important to us.</p>

<p class="callOut">Make sure you seek medical attention after an accident. Getting a 
  qualified medical exam and good medical care is the only way to know how your injuries will impact your life.</p>
<p>Our lawyers are experienced litigators. We are committed to helping clients get fair compensation for their injuries — we can help you. Over the years, we have represented clients suffering everything from minor to 
    <a href="/serious-accident">severe physical injuries</a>. If you were hurt in a 
    <a href="/premises">slip-and-fall accident</a>, or 
    <a href="/medical-melpratice">negligence of a doctor or hospital</a>, or in a 
    <a href="/work-related-injury">job-related accident</a> or in any other accident, call us.
</p>
<h2>Contact Joe Bravo</h2>
<p>At Bravo Law Offices, our lawyers will come to you to so we can see the impact your injury is having on your life and your family. Attorney Joe Bravo also gives client his personal cell number — if you have questions, call. To schedule a consultation, call 415-512-6700 or 
    <!-- <a href="/contact-us">complete our online contact form</a>. -->
</p>			</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>