<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Premises Liability Lawyer San Francisco | Slip &amp; Fall | Trip and Fall</title>
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
      <h1 class="page-title">San Francisco Premises Liability Lawyer</h1>
        

      <%- include('../partials/persona-injury-card'); %>
    

							
								

<div class="docText">

  <p>Property owners and landlords have a legal duty to keep their premises in safe condition. When this duty is breached, innocent people get hurt. If you injured, slipped, tripped or fell while on another's property, you may have a premises liability claim. Call us.</p>
  <p>At Bravo Law Offices, we are not afraid to fight. For more than 30 years, we have a reputation for standing up for the rights of the injured. We will help you get the compensation you need to treat your injuries, replace lost wages and reimburse you for your pain and suffering.</p>
  <p>Located in San Francisco, our lawyers represent injury victims throughout California's Bay Area.</p>
  <h2>Strong Premises Liability Claims That Get Results</h2>
  <p>Unsafe, defective or hazardous conditions pose danger to unsuspecting people. Mold, lead, exhaust, smoke and other hazardous building materials can cause serious physical illness. In these cases, tenants often have claims for personal injury, 
    <a href="/real-estate-default">loss of housing and loss of quiet enjoyment</a>.
  </p>
  <p>At Bravo Law Offices, we have the experience to handle your housing and your 
    <a href="/personal-injury">personal injury claims</a>. Our lawyers are highly skilled litigators. We build strong legal claims that get results.
  </p>
  <h2>Don't Compromise Your Right To Compensation</h2>
  <p>One of the biggest mistakes people make after being injured on another's property is agreeing to a settlement without knowing the full extent of their injuries. Unless you know how your injuries will impact you later in life, you cannot know the true value of your case or the compensation you will need to demand.</p>
  <p>At Bravo Law Offices, we won't even entertain settlement offers until we know how your injuries will affect your personal life and your ability to work in the future.</p>
  <h2>Know Your Rights So You Can Protect Them</h2>
  <p>It's your case. You should be involved in the legal process. Our attorneys take the time to educate you about the law and how it applies to your case. You will understand the strengths and weaknesses of your case, and why a certain legal strategy was chosen. To schedule initial consultation, call 415-512-6700 
   <!-- contact us online. -->
   <!-- <a href="../Contact.html"></a>. -->
  </p>
                        
                    
										

                                </div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>