<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Accident Injury Lawyer San Francisco | Traumatic Brain Injury TBI | Alameda</title>
 
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">San Francisco </h1>


        <%- include('../partials/persona-injury-card'); %>

        

							
								

<div class="docText">



                        
    <p>In a split second, your entire life can change. If you or a loved one was left seriously injured after an accident, you need attorneys who will fight for you and your interests,</p>
    <p>At Bravo Law Offices, we are not afraid to fight. For more than 30 years, we have been helping injury victims in San Francisco and throughout California's Bay Area get the compensation they need to treat their injuries, pay their bills and move forward with their lives.</p>
    <h2>Traumatic Brain Injuries (TBIs) — Leaving Victims With Life-Long Injuries</h2>
    <p>Any damage to the brain can have devastating effects on physical, mental and emotional well-being. Injuries range from mild concussion symptoms to debilitating, permanent injuries that leave victims unable to work or care for themselves. TBIs can also cause changes in mood or personality.</p>
    <p>At Bravo Law Offices, we want to know how your injuries will impact your life. Will you be able to return to work? Will you be able to participate in the daily activities you once enjoyed? Will you suffer from pain for years to come? Once we know the long-term effect of your accident, we pursue maximum compensation on your behalf.</p>
    <p>In addition to TBIs, our firm also handles other serious accidents that leave victims with life-changing injuries such as:</p>
    <ul class="medicalList">
        <li>Spinal injuries</li>
        <li>Neck injuries</li>
        <li>Amputations</li>
        <li>Nerve injuries</li>
    </ul>
    <h2>We Will Come To You</h2>
    <p>When 
        <a href="/personal-injury">suffering from a serious injury</a>, getting out of the house can be a challenge. That's why we come to you. Our lawyers will meet you in your home, at the hospital or wherever it's most convenient.
    </p>
    <p>Don't wait another day to get the legal help you need. Call us at 415-512-6700
        <!-- <a href="/contact-us">complete our online intake form</a>. Initial consultations are free. -->
    </p>				

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>