<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Work Injury Lawyer San Francisco | Injured At Work | Industrial Injury Alameda</title>
 
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">San Francisco Work Injury Lawyer</h1>


        <%- include('../partials/persona-injury-card'); %>

        

							
								

<div class="docText">



                        
    <p>After being injured on the job many workers believe their only form of compensation is through California's workers' compensation system. This is not necessarily true. In some cases you may have a personal injury claim against a third party that you may pursue as well as a workers' compensation claim.</p>
    <p class="callOut">If you were injured at work by a third party, such as an independent contractor, or the driver of another vehicle while performing job duties — you may be entitled to additional compensation.</p>
    <p>Located in San Francisco, Bravo Law Offices has more than three decades of experience helping injured workers throughout the Bay Area maximize their compensation. We are not afraid to fight. Our lawyers will get you the money you deserve.</p>
    <h2>Get Compensation For Your Work Injury</h2>
    <p>The more dangerous the work, the more opportunity for injury. Industrial and construction site injuries to the back, neck, shoulders and head injuries are extremely common and can make it impossible to continue working. A work injury shouldn't leave you without a paycheck.</p>
    <p>At Bravo Law Offices, our goal is to maximize your compensation after a work accident. The best way to ensure you get the compensation you deserve is to get a thorough medical exam. Once we know how your injuries will impact your health in the future, we can maximize your 
        <a href="/personal-injury">personal injury claim</a>. We pursue compensation for the following:
    </p>
    <ul class="medicalList">
        <li>Current and future pain and suffering</li>
        <li>Current and future medical expenses</li>
        <li>Lost wages</li><li>Reduced earning capacity </li>
    </ul>
    <h2>Call 415-512-6700 For A Consultation</h2>
    <p>After a work accident, many people don't know their rights and are intimidated by the legal process. At Bravo Law Offices, we will educate you about your rights. When you leave our office, you will understand the law and how it applies to your situation. You will know your legal options and understand why a specific strategy was chosen.</p>
    <p>Our attorneys are always available to meet with you, face-to-face, to answer your questions and discuss your case in detail. Call us today for a consultation or 
      email us online below.
       <!-- <a href="../Contact.html"></a>. -->
    </p>				

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>