<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Eviction Lawyer San Francisco | Habitability | Poor Living Conditions</title>
 
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">Evictions And Habitability</h1>


        <%- include('../partials/landlord-tenant-issues-card'); %>

        

							
								

<div class="docText">



                        
    <p>At Bravo Law Offices, in San Francisco, we'll fight with you and fight for you. Our lawyers are not afraid of a challenge. For more than 30 years, we have been helping landlords and tenants throughout the Bay Area protect their interests during evictions and habitability disputes.</p>
				<h2>Eviction Proceedings</h2>
				<p>California law lays out strict eviction procedures. Landlords are not allowed to use &quot;self-help&quot; tactics to evict tenants. At Bravo Law Offices, we represent both landlords and tenants during eviction proceedings. We help landlords navigate legal eviction procedures and protect their properties and their financial interests. We also help tenants who are being wrongly evicted stop eviction proceedings and protect their rights.</p>
				<p>Legal reasons to evict include:</p>
				<ul class="medicalList"><li>Failure to pay rent in a timely manner</li><li>Damage to the property</li><li>Nuisance</li><li>Illegal property uses</li><li>Other violations of the lease/rental agreement</li></ul>
				<h2>The Implied Warranty Of Habitability</h2>
				<p>In California, rental properties must be &quot;habitable.&quot; This means landlords have a legal duty to keep their rental units in livable condition. When repairs go unmade, lead and mold issues arise, or other poor living conditions make a property unsafe, unsanitary and unlivable, tenants may bring legal action.</p>
				<p>At Bravo Law Offices, we know landlord-tenant law from both sides. Our firm represents both landlords and tenants during legal disputes. This gives us special insight. We know the arguments and strategies the other side will raise, and we know how to defeat them.</p>
				<h2>Contact Experienced Litigators Who Will Fight For You</h2>
				<p>If you are involved in a 
					<a href="/Landlord-tenant-issues">landlord-tenant dispute</a>, you need attorneys who will fight for your interests. Don't wait. 
					Call today at 415-512-6700.
				</p>			
								
								

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>
