<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Landlord-Tenant Lawyer San Francisco | Rent Dispute | Security Deposit Dispute</title>
 
  
</head>
<body>
    
  <%- include('../partials/header'); %>

<div class="container">



  <div class="informa">
       
    <div class="containerInfor">
        <h1 class="page-title">San Francisco Landlord-Tenant Lawyer</h1>


        <%- include('../partials/landlord-tenant-issues-card'); %>

        

							
								

<div class="docText">



                        
    <p>At Bravo Law Offices, in San Francisco, California, our lawyers have been representing landlords and tenants in the Bay Area for more than 30 years. Our firm represents both landlords and tenants during disputes involving habitability, eviction, nuisance, discrimination, rent control and short-term rental agreements.</p>
    <p class="callOut">We've sat on both sides of the table — representing landlords and tenants. Our lawyers are able to anticipate how the other side will act then take proactive steps to advance your interests.</p>
    <h2>At Bravo Law Offices, We Are Not Afraid To Fight</h2>
    <p>We have extensive knowledge of local housing laws and the legal processes involved. Over the years, we have established a reputation with local courts and judges as attorneys who will fight for our clients' interests.</p>
    <p>Over the past three decades, our attorneys have successfully represented clients during a wide range of landlord-tenant disputes involving:</p>
    <ul class="medicalList"><li>
            <a href="/evictions-and-habitability">Eviction and wrongful eviction</a>
        </li><li>Habitability disputes involving mold and lead issues, and failure to make reasonable repairs </li><li>Nuisance claims</li><li>Rent control and rent increase disputes</li><li>Housing discrimination</li><li>Disputes surrounding security deposits </li><li>Illegal construction</li><li>Illegal units</li><li>Short-term rental disputes, i.e., Airbnb</li></ul>
    <h2>We Will Give You An Honest Assessment Of Your Case</h2>
    <p>To fully understand your legal issue, we need to examine the disputed property with our own eyes. Our attorneys come to the premises in question to meet with you, examine the structure and learn the facts. We then give you an honest, reliable assessment of your case. We will keep you up-to-date on every stage of your legal claim and work with you to get the best results possible.</p>
    <p>To schedule a initial consultation, call 415-512-6700
       <!-- or contact us online below -->
       
       <!-- <a href="../Contact.html"></a>. -->
    </p>			
								
								

</div>

</div>

</div>


</div>


<!-- Others -->

<%- include('../partials/contact'); %>
<!-- Others -->



  <!-- Footer & Links -->
  <%- include('../partials/footerLink'); %>
  <!-- Footer & Links -->


  



    
    
</body>
</html>